.container-nav{
   padding: 10px 10%;
}
html{
   scroll-behavior: smooth;
}
 nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
 }

 .logo{
   width: 190px;
   height: 70px;
   margin-top: 20px;
 }
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
 }

 nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
 }
 nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff0051b2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
 }

 nav ul li a:hover::after{
    width: 100%;
 }
 
nav .fas{
   display: none;
}
@media only screen and (max-width: 425px){
   
   nav .fas{
      display: block;
      font-size: 25px;
      color: white;

   }
   nav ul{
      background-color: #575656;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
   }
   nav ul li{
      display: block;
      margin: 25px;
   }
   nav ul .fas{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
   }
   .logo {
      width: 133px;
      height: 70px;
      margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px){
   
   nav .fas{
      display: block;
      font-size: 25px;
      color: white;

   }
   nav ul{
      background-color: #575656;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
   }
   nav ul li{
      display: block;
      margin: 25px;
   }
   nav ul .fas{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
   }
   .logo {
      width: 133px;
      height: 70px;
      margin-top: 20px;
  }
}