.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.card-title{
    color:rgb(235, 76, 76);
    font-weight: 800;
}
.card-text{
    font-weight: 500;
    color:#fff;
}
.card{
    background-color: #575656;
    transition: background 0.5s, transform 0.5s;
}

.mx-3{
    margin-left: 4rem!important;
}
.card:hover{
    background:black;
    transform: translateY(-10px);
}
.card-body a{
    background: black;
}
@media only screen and (max-width: 425px){
    .sub-title{
        font-size: 40px;        
    }
    .mx-3{
        margin-top: 6px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 426px){
    .sub-title{
        font-size: 40px;        
    }
    .mx-3{
        margin-top: 6px;
    }
}